#if(${event.class.simpleName} == "TagEvent")
		/* ${event.getTag()} */
#elseif(${event.class.simpleName} == "PauseEvent")
		.pause(${event.getDurationMillis()}, MILLISECONDS)
#else
		.exec(
			http("request_${event.getId()}")
			.${event.getRequest().getMethod().toString().toLowerCase()}(#if(${event.isWithUrlBase()})"${URI.create(${event.getRequest().getUri()}).getPath()}"#{else}url_${event.getId()}#end)
#foreach(${param} in ${event.getRequestParams().entrySet()})
#foreach(${val} in ${param.getValue()})
			.#if(${event.getRequest().getMethod().toString().toLowerCase()} == "get")queryP#{else}p#{end}aram("${param.getKey()}", """${val}""")
#end
#end
#if($!{event.getHeadersId()})
			.headers(${event.getHeadersId()})
#else
			.headers(headers_${event.getId()})
#end
#if(${event.getBasicAuth()})
			.basicAuth("${event.getBasicAuth().getUsername()}", "${event.getBasicAuth().getPassword()}")
#end
#if(${event.isWithBody()})
			.fileBody("${date}_request_${event.getId()}.txt")
#end
#if(${event.isWithCheck()})
			.check(status.is(${event.getResponse().getStatus().getCode()}))
#end
		)
#end