#if($!{package})package ${package}#end

import com.excilys.ebi.gatling.core.Predef._
import com.excilys.ebi.gatling.http.Predef._
import com.excilys.ebi.gatling.script.GatlingSimulation

class Simulation#if($!{package})${date}#end extends GatlingSimulation {
#parse("scenarioText.vm")

}