# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# building
target
build
null
tmp
temp
dist
test-output
build.log

# project files to ignore
toto.log
/gatling_*
/*.html
/2011*
/request-files/*
!/request-files/.gitkeep
#/user-templates/*
!/user-templates/.gitkeep
