# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# building
target
build
null
tmp*
temp*
dist
test-output
build.log

# project files to ignore
toto.log
/gatling_*
/*.html
