# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies
.cache
.worksheet

# idea conf files
.idea
*.iml
*.ipr
*.iws

# building
target
build
null
tmp
temp
dist
test-output
build.log

# misc
.DS_Store
*~

# project files to ignore
/gatling-bundle/src/main/assembly/assembly-structure/results/*
!/results/.gitkeep

untracked-*

highcharts.js
highstock.js
theme.js
