<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

<!-- 	<appender name="SCRIPT" class="ch.qos.logback.core.FileAppender"> -->
<!-- 		<append>false</append> -->
<!-- 		<File>toto.log</File> -->
<!-- 		<encoder> -->
<!-- 			<pattern>%msg%n</pattern> -->
<!-- 		</encoder> -->
<!-- 	</appender> -->

<!--	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">-->
<!--		<param name="QueueCapacity" value="10000" />  Default is 1000 -->
<!--		<param name="IncludeCallerData" value="false" />  Default is false -->
<!--		<appender-ref ref="SCRIPT" />-->
<!--	</appender>-->


	<logger name="com.excilys.ebi.gatling" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>
